:root {
  interpolate-size: allow-keywords;
}

details {
  overflow: hidden;
}

details::details-content {
  block-size: 0;
  transition:
    block-size 0.3s ease-out,
    content-visibility 0.3s ease-out allow-discrete,
    opacity 0.3s ease-out;
  opacity: 0;
}

details[open]::details-content {
  block-size: auto;
  opacity: 1;
}
